[2015-10-22 12:51] dsvoronin opened #1 "Alpha/beta apk uploading"
How can i upload APK in alpha or beta release stage, instead of production?

[2015-10-22 15:11] dannybduval commented on #1
Looking in the options.rb, --track, -a or SUPPLY_TRACK environment variable.

[2015-10-22 15:15] dsvoronin commented on #1
Thanks, will be cool to add options docs to Readme.md aswell

[2015-10-22 15:15] #1 closed

[2015-10-26 16:34] riyaz opened #2 "Support changelog when uploading a new apk"

[2015-10-26 16:36] riyaz opened #3 "How to input the order of screenshots while uploading?"
Playstore allows us to order the screenshot, is it provide ordering through supply?

[2015-10-26 17:12] KrauseFx commented on #3
I'll update `supply` so that it will upload the screenshots sorted by alphabet. This way you can prefix all your Android screenshots using

`01Home.png`
`02List.png`

etc.

Would that be a good solution for you?

[2015-10-26 17:12] #3 closed

[2015-10-26 17:13] KrauseFx commented on #2
Currently you can't set a changelog. You can upload a apk using

[code]

[2015-10-26 17:19] riyaz commented on #3
Cool, this is good enough.

[2015-10-26 17:20] riyaz commented on #2
Yes, --apk works, as of now I have manually added changelog.

[2015-10-26 17:25] riyaz opened #4 "Store listing experiment compatibility?"
Will uploading screenshots, descriptions will affect the store listing experiment, as of now I'm running store listing experiment so I couldn't test it out.

For now just uploading apk makes no harm to listing.

Ref - https://support.google.com/googleplay/android-developer/answer/6227309?hl=en

[2015-10-27 15:18] dbzrzezinski opened #6 "Retrieve Version Number/Name"
Is it possible to get the version name/number of the current APK uploaded to the store or could this be a implemented?
As I am working towards a fully automated system that checks a whole directory of apks and uploads them and I'd like to add a version check function to reduce the waiting time, so already uploaded version are simply skipped (by waiting time i am referring to the amount of time the

[2015-10-27 17:31] KrauseFx commented on #6
Interesting! That's not implemented right now, but sounds like an interesting idea in the future

[2015-11-02 16:12] xylone commented on #2
I was searching for the same. I checked the Google Api and it should be possible.
Are you planning to add this in the near future?
It should be simple, but I'm not into ruby myself for adding this. :-)
Google API example: https://github.com/googlesamples/android-play-publisher-api/blob/master/v2/java/src/com/google/play/developerapi/samples/UploadApkWithListing.java

[2015-11-03 00:32] KrauseFx commented on #2
Sounds great, I'll try to find the time to implement this over the next few days

[2015-11-05 16:29] gran33 opened #7 "Connect to servers Error"
I m getting this:

_`connect': SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (Faraday::SSLError)_

When I try to:
`supply run`
I've done all the setup gracefully.

Why this?

[2015-11-08 09:23] KrauseFx commented on #7
Please follow the FAQs on how to solve this issue https://github.com/fastlane/fastlane/blob/master/docs/FAQs.md#im-getting-an-ssl-error

[2015-11-09 09:59] tryadelion opened #10 "automate supply for parameters"
how can we automate supply to retrieve the package name and the p12 issuer? the command line comment "To not be asked about this value, you can specify it using 'issuer' " is not really clear about what to do.

[2015-11-09 11:02] BKAppsmart commented on #10
[code]

This is the Bash/terminal implementation, hope it helps...

[2015-11-10 15:25] fwhenin opened #11 "Setting Version Number/Name"
this TOTALLY might be me not knowing what I'm doing, but is there anyway to set Version Number and Name from Supply/Gradle in the fastfile

[2015-11-10 20:57] timholbrook opened #12 "Using the --key option causes error"
When I run supply from the command line using the key option, e.g. supply --key

[code]

[2015-11-15 20:55] kordianbruck commented on #1
@dsvoronin do you have an example on how to add this for a specific lane and in the Appfile/Fastfile? I am struggling to have the beta be deployed to google play directly. Maybe you can share your insights?

[2015-11-16 06:05] andykingking commented on #12
:+1: I get this error as well

[2015-11-16 09:57] #12 closed

[2015-11-16 10:11] KrauseFx commented on #1
@kordianbruck Did you see the [Android Guide](https://github.com/fastlane/fastlane/blob/master/docs/Android.md)?

[2015-11-16 10:11] KrauseFx commented on #1
@kordianbruck Also, you can run `fastlane init` for your Android project to pre-generate the default files automaticallly

[2015-11-16 10:12] andykingking commented on #12
@KrauseFx nice one!

[2015-11-16 10:18] KrauseFx commented on #12
Thanks for letting me know, please update using `sudo gem update supply`

[2015-11-16 17:50] kordianbruck commented on #1
@KrauseFx well yes, I followed the instructions. For the beta deployment I'd like to push it to the beta track in google play though. I've added a second lane in the Fastfile inside the :android part which looks like this:

[code]

It is unclear to me how to make this lane always to push to beta/alpha on google play. I tried adding the -a & --track options to the supply command directly, but I gue

[2015-11-19 15:32] emidander commented on #2
Is this feature in the pipeline? I was considering adding it myself when I save this issue. I would be happy to look into it if you want to.

[2015-11-21 23:00] joshsnelling commented on #7
If you're running Yosemite and updating openssl didn't fix it, you may have to reinstall ruby as indicated here:
http://toadle.me/2015/04/16/fixing-failing-ssl-verification-with-rvm.html

`rvmsudo rvm reinstall 2.2.1 --disable-binary`

This solved it for me.

[2015-12-09 00:12] harikishan7 opened #16 "Issues while executing supply on Windows"
I get this error on Windows 7  and I am running ruby ver 2.1.5.

C:\tools\supply>supply --help

C:/Ruby21/lib/ruby/site_ruby/2.1.0/rubygems/core_ext/kernel_require.rb:54:in `r

quire': cannot load such file -- pty (LoadError)

        from C:/Ruby21/lib/ruby/site_ruby/2.1.0/rubygems/core_ext/kernel_requir

.rb:54:in `require'

        from C:/Ruby21/lib/ruby/gems/2.1.0/gems/fastlane_core-0.28.0/li

[2015-12-09 10:13] stoff99 opened #17 "using supply with ant"
using on command line with same parameters is working and uploading metadata

implementing in ant gives the following error:
/Library/Ruby/Gems/2.0.0/gems/google-api-client-0.8.6/lib/google/api_client/request.rb:342:in `encode': "\xC3" on US-ASCII (Encoding::InvalidByteSequenceError)

ant code
 -exec executable="supply" -
            -arg value="--package_name"/-
            -arg value="air.com.sf

[2015-12-10 17:39] sp-juan-maturana opened #18 "Short description's length validation"
With a text length of short description of 80 characters I get the error message: "The short description (promotional text) for the app is too long for language XX."

[2015-12-11 04:08] superarts commented on #10
I'm generating `AppFile` using a script:

[code]

[2015-12-11 04:15] superarts opened #19 "Can't update app: "You need to choose a different title for your app""
When I tried to update an app, an error `You need to choose a different title for your app. This one is already used by another app` is reported. I tried to edit `metadata/title`, changing it to empty, the current app name, or a new name without any luck.

[code]

My `FastFile` is quite simple.

[code]

I can update the app if I comment the following lines in `client.rb`, but of course metadata ca

[2015-12-14 02:43] KrauseFx commented on #19
It seems like the names you tried are already taken. Can you try something super random like "veryranodmappnameejeee"

[2015-12-14 02:44] KrauseFx commented on #10
You should use `fastlane` so you can specify all these options within your `Fastfile`.
@superarts I don't recommend generating the Appfile using Ruby like this.

[2015-12-14 02:44] KrauseFx commented on #7
:+1:

[2015-12-14 02:44] #7 closed

[2015-12-14 03:09] superarts commented on #19
Thank you for your reply - I realized that I was editing metadata/LANG/title.txt instead of metadata/android/LANG/title so totally my bad. Cheers man!

[2015-12-14 03:09] #19 closed

[2015-12-14 03:19] superarts commented on #10
Thank you @KrauseFx - guess it's just a special case of us. we have multiple apps to be built for both iOS and Android, and we only have 1 iOS project and 1 Android project for the actual development. We used to use XCConfigs/targets and ProductFlavors and 2 sets of Fastlane to manage all these, but when the number of apps reached 10 it became harder to manage. As a result, we decided to use a sin

[2015-12-14 05:03] superarts opened #20 "Suggestion: adding flags to control uploading behavior"
Sorry to bother again, in `uploader.rb`, for the following lines:

[code]

Maybe add `skip_metadata`, `skip_images`, `skip_screenshots` and `skip_apk` so that user can choose which part to skip, which works in a similar way with `skip_metadata` in `deploy` please?

[2015-12-16 02:56] superarts commented on #20
Pull request created in https://github.com/fastlane/supply/pull/21

[2015-12-16 17:59] chrisvire opened #23 "Escaped spaces in file path for key don't work"
OK, this isn't a big deal.  Just wanted to report it...

When I was trying to enter the key for either SUPPLY_KEY, -k, or at the prompt, I was escaping the spaces in the path with backslashes (e.g.  ~/Path/To/App\ Publishing\ Information/Google\ Play\ Android\ Developer-{hexdigits}.p12).  If I removed the backslashes, then it worked.  I would assume it should accept it either way.

FYI, the easies

[2015-12-17 18:36] asfalcone commented on #18
I can't reproduce this. I was able to upload the following:

![image](https://cloud.githubusercontent.com/assets/1848683/11878310/fea208a8-a4c2-11e5-9a0e-0a6f1a0e2d01.png)

with this txt file.
[short_description.txt](https://github.com/fastlane/supply/files/65802/short_description.txt)

Can you try that .txt file and/or attach one that fails to validate?

[2015-12-17 18:50] chrisvire opened #26 "Error with posting data with 0x00FA character"
We are trying to post a full description with accented u (0x00FA).

https://dl.dropboxusercontent.com/u/4049729/github/supply/full_description.txt

However, supply fails when google-api-client tries to encode as US-ASCII (even though it is trying to load metadata for language 'es-419').  Do I need to create the file differently?

[code]

[2015-12-17 20:12] jhendley25 opened #27 "The license still references Apple"
Just FYI

[2015-12-17 20:14] jhendley25 commented on #27
Although it probably needs to. I'm an idiot.

[2015-12-17 20:14] #27 closed

[2015-12-17 20:42] asfalcone commented on #11
Hey @fwhenin, are you trying to set the version number that you want the app to be built with or modify the version number that Play sees/displays?

[2015-12-17 20:56] asfalcone commented on #23
Hey @chrisvire can you paste the terminal output here? I'm not able to reproduce this with escaped just spaces.

![image](https://cloud.githubusercontent.com/assets/1848683/11881613/da58b7b8-a4d5-11e5-9df4-bd64281cebf3.png)

[2015-12-17 22:14] chrisvire commented on #23
Hmm...it is working now.  If I use

quotes:
"~/Path/To/App Publishing Information/Google Play Android Developer-..."
or

escape:
~/Path/To/App\ Publishing\ Information/Google\ Play\ Android\ Developer-...

Both work.  However, If I escape and quote, then it fails:

"~/Path/To/App\ Publishing\ Information/Google\ Play\ Android\ Developer-..."

This is probably expected.  I am closing this.  Thanks

[2015-12-17 22:14] #23 closed

[2015-12-17 22:37] chrisvire commented on #26
So I opened the file in gedit.  And it thought the encoding for the file was "Western (ISO-8859-150)".  So I did a save as to UTF-8.

https://dl.dropboxusercontent.com/u/4049729/github/supply/utf8_full_description.txt

I now get this error:

[22:31:15]: Loading metadata for language 'es-419'...
/var/lib/gems/2.0.0/gems/google-api-client-0.8.6/lib/google/api_client/request.rb:342:in `encode': "\xC3

[2015-12-17 22:41] chrisvire commented on #26
I opened the file it gedit and saved as utf-16:

https://dl.dropboxusercontent.com/u/4049729/github/supply/utf16_full_description.txt

I got these errors:

[22:40:44]: Loading metadata for language 'es-419'...
/var/lib/gems/2.0.0/gems/google-api-client-0.8.6/lib/google/api_client/request.rb:342:in `encode': "\xFF" on US-ASCII (Encoding::InvalidByteSequenceError)
    from /var/lib/gems/2.0.0/gems/g

[2015-12-18 03:08] asfalcone commented on #26
Thanks for reporting this! I'll take a look and see if I can reproduce with that attached file. The error comes from the google_api_client gem, so I'll also see if that api has anyway of specifying an encoding.

[2015-12-18 03:25] asfalcone commented on #26
I can reproduce with the utf16 file you attached but not the utf8 file.

Can you test with this utf8 one [full_description.txt](https://github.com/fastlane/supply/files/66180/full_description.txt) to see if that unblocks you?

It looks like the .9.x version of `google-api-client` requires [migration](https://github.com/google/google-api-ruby-client/blob/master/MIGRATING.md) and isn't compatible wi

[2015-12-18 03:40] chrisvire commented on #26
Using your file, I still get this error:

[03:35:50]: Loading metadata for language 'es-419'...
/var/lib/gems/2.0.0/gems/google-api-client-0.8.6/lib/google/api_client/request.rb:342:in `encode': "\xC3" on US-ASCII (Encoding::InvalidByteSequenceError)
    from /var/lib/gems/2.0.0/gems/google-api-client-0.8.6/lib/google/api_client/request.rb:342:in`to_json'
    from /var/lib/gems/2.0.0/gems/google-a

[2015-12-18 08:20] dhavalstays opened #28 "fastlane init"
When I run fastlane init command in my projects's root folder, It gives me following error

C:\Users\dgulhane\AndroidStudioProjects\Cogitate\CogitateApp\AutomationApp>fastl
ane init
C:/Ruby22-x64/lib/ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require'
: cannot load such file -- pty (LoadError)
        from C:/Ruby22-x64/lib/ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54
:in `require'

[2015-12-18 10:58] dhavalstays commented on #16
In my project when I execute fastlane init, It gives me following error

C:\Users\dgulhane\AndroidStudioProjects\Cogitate\CogitateApp\AutomationApp>fastl
ane init
C:/Ruby22-x64/lib/ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require'
: cannot load such file -- pty (LoadError)
        from C:/Ruby22-x64/lib/ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54
:in`require'
        from C:/Rub

[2015-12-18 13:20] asfalcone commented on #28
Duplicate of #16

[2015-12-18 14:42] asfalcone commented on #26
Thanks for continuing to try things out!

One other difference that I see from the error logs is that I'm running Ruby 2.1.0.

You could start with the [`google-api-client`](https://github.com/google/google-api-ruby-client) project and see if you could reproduce the issue using the apis directly, however this code is pretty complicated as it uses generated methods (and the api is totally different

[2015-12-18 22:53] #28 closed

[2015-12-21 12:46] ashukhobragade opened #30 ""error" : "invalid_grant""
[18:15:39]: Fetching a new access token from Google...
/Library/Ruby/Gems/2.0.0/gems/signet-0.7.0/lib/signet/oauth_2/client.rb:980:in `fetch_access_token': Authorization failed.  Server message: (Signet::AuthorizationError)
{
  "error" : "invalid_grant"
}
	from /Library/Ruby/Gems/2.0.0/gems/signet-0.7.0/lib/signet/oauth_2/client.rb:997:in `fetch_access_token!'
	from /Library/Ruby/Gems/2.0.0/gems/s

[2015-12-21 16:20] chrisvire commented on #26
Do you know what character encoding is expected by google-api-client? I assume utf-8.

I see in lib/supply/uploader.rb upload_metadata()

[code]

File.read, does that need to force an encoding?  See: http://stackoverflow.com/questions/2982677/ruby-1-9-invalid-byte-sequence-in-utf-8
I know that question is for 1.9 and deploy is 2.0+, but there are answers for forcing encoding for 2.0+.

Chris

[2015-12-22 03:33] superarts commented on #20
Pull request accepted

[2015-12-22 03:33] #20 closed

[2015-12-22 15:38] rowillia opened #31 "Uploading to google play failing."
We're using supply to upload our APKs to the play store and it's failing with the message "Daily save quota exceeded."

According to https://developers.google.com/android-publisher/quotas this should reset at midnight PST, but we're still having this issue.  Unfortunately, AFAICT the quotas dashboard for Google Play API is broken and doesn't show calls from service accounts.

Do you have a sense o

[2015-12-22 18:38] chrisvire commented on #26
OK.  If I change the the text files so that linux thinks that they are UTF-8, then it works.

If the files are in charset=iso-8859-1 (at least as linux sees it):

[code]

ruby assumes they are utf-8 (and dead wrong).  I added this code to lib/supply/uploader.rb to show this:

[code]

With output:

[code]

Well, it turns out that you need to know your data and it is hard to guess the encoding since

[2015-12-24 14:15] woutergoossens commented on #30
I have the same problem

Fetching a new access token from Google...
/Library/Ruby/Gems/2.0.0/gems/signet-0.7.1/lib/signet/oauth_2/client.rb:980:in `fetch_access_token': Authorization failed.  Server message: (Signet::AuthorizationError)
{
  "error" : "invalid_grant"
}
    from /Library/Ruby/Gems/2.0.0/gems/signet-0.7.1/lib/signet/oauth_2/client.rb:997:in`fetch_access_token!'
    from /Library/Ruby

[2015-12-24 15:18] buihuuloc opened #32 "Only save apk file instead of publish to production or beta"
I wish, supply can have this option into command line.

Thanks

[2016-01-04 17:38] asfalcone commented on #30
@ashukhobragade @woutergoossens Are either of you still experiencing this problem? I found an [open issue](https://github.com/google/google-api-ruby-client/issues/84) with the google ruby api that we use that might help you debug the issue you're having. One of the most common suggestions is updating the system time on the machine. Let me know if this helps!

[2016-01-04 18:10] asfalcone commented on #32
@buihuuloc Thanks for your idea. Could you describe a little more what you're looking for? When you say save, where do you want to save it to? Thanks!

[2016-01-04 21:46] asfalcone commented on #31
Hi @rowillia is this still an issue for you?

In regards to how many requests are made when uploading an apk... it depends a bit on the Play store listing.
- For each language 1 or more calls are made:
  - to get the listing for the language
  - to update the metadata
  - to upload the images
    - for each image type a call is made
  - to upload the screenshots
    - for each screenshot type a ca

[2016-01-05 01:39] buihuuloc commented on #32
Hi @asfalcone,

I think, I'd be great if it save as a draft version on Google Console.

[2016-01-05 19:01] chrisvire commented on #26
@KrauseFx, any preference on how to deal with text files with non-specific encodings?

[2016-01-06 21:56] asfalcone commented on #18
@sp-juan-maturana could you try that .txt file and/or attach one that fails to validate? If this isn't an issue for you any longer I'd like to close it. Thanks!

[2016-01-07 01:01] pieisgood opened #33 "How to work with gradle flavors?"
I'd like to create several flavors of my app and then release them separately, is this supported?

[2016-01-07 02:21] asfalcone commented on #33
Hi @pieisgood! You can use separate fastlane lanes with different gradle assemble calls and different options passed into supply via your Fastfile:

[code]

You can also set the package name (or keyfile, issuer, etc) for each lane in the Appfile:

[code]

You can look at [options.rb](https://github.com/fastlane/supply/blob/master/lib/supply/options.rb) to see how each option value is specified or

[2016-01-07 19:04] pieisgood commented on #33
Awesome thank you.

[2016-01-07 19:05] #33 closed

[2016-01-11 18:48] asfalcone commented on #10
@tryadelion Did you get the answer you needed from the comments?

I'm going to close this issue because you can set them in Appfile, pass params (-p, -i, --key) or set the environment variables as mentioned so I don't think there is anything we need to change. Feel free to comment or submit another issue if you run into problems.

[2016-01-11 18:48] #10 closed

[2016-01-11 19:38] asfalcone commented on #2
Hi @emidander can you check out https://github.com/fastlane/supply/pull/9 and let us know if this is what you were looking for?

[2016-01-11 20:45] asfalcone commented on #2
Closing as resolved by #9

[2016-01-11 20:45] #2 closed

[2016-01-12 10:53] uareurapid commented on #30
I might be wrong, but aren´t those configuration issues?
I had the same issue when i was not supplying the correct issuer email on "supply init" step :
"The issuer of the p12 file (email address of the service account):"

So it didn´t matched the entity on the P12 file

[2016-01-18 21:26] harikishan7 opened #38 "Supply tool doesnt upload accented characters in the text description files"
We noticed that when we have accented characters in the text, the supply tool doesnt throw any error and it finishes the uploading but after the upload, the accented characters aren't uploaded at all and they are totally missing from the lines.

here is an example .

Below is the text in the file before upload...

Des clients hauts en couleur, des VIP super stars et des pÈripÈties culinaires effrÈ

[2016-01-18 21:57] harikishan7 commented on #38
Resolved this issue by saving the text files in utf-8 and re-uploading.

[2016-01-18 21:57] #38 closed

[2016-01-19 20:35] kerrjnr commented on #16
Can anyone update this issue?
I'm experiencing a similar result attempting to execute 'fastlane init' against fastlane 1.49.0 source in a Windows 7 Pro + Ruby 2.1.7p400 + Gem 2.2.5 + DevKit 4.7.2 (x64-mingw32) environment and I'm reluctant to raise a new issue if it is a duplicate of this.

Regards

[2016-01-19 21:58] asfalcone commented on #16
Right now fastlane relies on the `pty` gem which isn't available for Windows. It looks like we might not need to require this gem all of the time though and can possibly move the requirement closer to the actual usage to this to work on Windows. I'll look into a way to fix this.

[2016-01-19 23:41] kerrjnr commented on #16
Thanks Andrea, I appreciate the prompt response!

[2016-01-22 13:08] lacostej commented on #16
Note: I have made some work on fastlane/fastlane_core#73 to get rid of pty for other reasons. PR not yet submitted though.

[2016-01-22 19:55] KrauseFx commented on #16
Thanks @lacostej :+1:

[2016-01-25 16:07] lacostej opened #40 "metadata_path verify_block invalid for init command"
The [verify_block for metadata_path](https://github.com/fastlane/supply/blob/master/lib/supply/options.rb#L36-L38) is invalid for the `init` command. It shouldn't check for the directory location when supplied on the command line, because it [assumes it isn't](https://github.com/fastlane/supply/blob/master/lib/supply/setup.rb#L4-L6).

[code]
Instead we should move the check [here](https://github.c

[2016-01-25 16:11] lacostej opened #41 "supply doesn't document init enough"
In particular,

* during init, featureGraphic download not supported (0338901e1).
* during upload, the latest changelog is [only uploaded together with the apk](https://github.com/fastlane/supply/blob/master/lib/supply/uploader.rb#L81-L92)

(for the record, "In particular, [featureGraphic download not supported](0338901e1)" doesn't work in github markdown)

[2016-01-25 17:04] lacostej opened #42 "supply lacks support for uploading expansion files"
See https://developers.google.com/android-publisher/api-ref/edits/expansionfiles

and https://github.com/fastlane/supply/blob/master/lib/supply/client.rb#L232-L250

We'll be adding suport for this in the coming days. Right now we intend to upload any obb file found in the same directory as the apk, both main or patch (based on the file name).

If you have a different use cases, please let us know

[2016-01-25 18:25] #40 closed

[2016-01-25 21:10] lacostej commented on #31
I noticed that the current implementation of supply uses an older https://github.com/google/google-api-ruby-client lib that uses authodiscovery of URLs and might generate more queries ? (not sure if they are counted towards the limit). A newer client has been released with a pre-compiled API. Playing with it a bit...

[2016-01-28 13:24] lacostej commented on #17
Have you tried forcing an UTF-8 LOCALE ?

[2016-01-29 17:07] sschendel opened #48 "promoting loaded apk"
Is there capability to promote a loaded apk from alpha to beta or beta to production?  Was testing loading the same apk to "next" track but got error...

Testing-track (alpha/beta) APK with version code 49 appears in another track (RuntimeError)

[2016-01-29 23:46] vpolouchkine commented on #48
No, not at this time.

[2016-02-02 08:51] lacostej commented on #41
The 2 PRs were merged. Closing.

[2016-02-02 08:51] #41 closed

[2016-02-02 19:30] KrauseFx commented on #41
:+1:

[2016-02-02 23:54] pieisgood opened #49 "Uploading content ratings?"
Is there a plan to allow uploading of content ratings through supply?

[2016-02-03 18:34] chrisvire commented on #48
@KrauseFx, @vpolouchkine: If you could suggest how this should be exposed through the CLI, we are going to need it.  I would be willing to implement it.

[2016-02-03 19:18] sschendel commented on #48
@chrisvire I was considering implementing as well and submitting a PR.  Was thinking a a new "--track_to_promote_to" parameter might be used to promote from one track (designated by "--track" param) to next.  Looks like client already has update_track method.  Would need to add client method to read track apk_version_codes.  Open to other suggestions too.

[2016-02-03 19:22] sschendel commented on #49
The Google Play Publishing API does not expose this data.

[2016-02-03 20:04] harikishan7 opened #50 "Whatsnew text is not getting updated when using supply."
Hello,

   There is something going on here that I cannot explain. I am able to successfully download the changelog folders to my supply directory without any errors or issues. However doing the opposite doesnt work anymore. Supply doesnt throw any errors.  here is my log.

sf-mm414:supply hari.iddamsetty$ supply run -p com.xxx.xxxx -k key.p12 -i xxxxxx@developer.gserviceaccount.com

+------------

[2016-02-03 20:47] moroz0v commented on #19
Had that happen to me after running `supply init` but then making a custom lane building/uploading a different flavor. Went on to change the App name in the `metadata/android/LANG/title` and all worked properly. Just giving heads up!

[2016-02-03 20:51] pieisgood commented on #49
what about using a headless browser or something similar to earlier fastlane systems?

[2016-02-03 21:32] harikishan7 commented on #50
I have confirmed that the above issue is a bug. Another developer ran the same tool and he reported back to me with the same issue.  So there is no more ambiguity.

[2016-02-08 15:52] asfalcone commented on #48
This is a great idea for an enhancement. I left a note on the PR!

[2016-02-08 20:16] sschendel commented on #48
Thanks.  We have a real need for this managing testing and release for our app with 40+ flavors.

[2016-02-09 21:52] mfurtak commented on #50
Hi @harikishan7 - thanks for the report!

We've just released [v0.3.1](https://github.com/fastlane/supply/releases/tag/0.3.1) which we think has a fix for this. Do you mind updating `supply` and seeing if that helps?

Thanks! :+1:

[2016-02-09 21:54] harikishan7 commented on #50
Sure will do that now.

[2016-02-09 22:29] harikishan7 commented on #50
Just updated to the v0.3.1 release and it works now. Thanks for the fix.

[2016-02-09 22:31] mfurtak commented on #50
Sweet! :icecream: Glad to hear it!

[2016-02-09 22:31] #50 closed

[2016-02-09 22:32] mfurtak commented on #50
Kudos to @lacostej for the fix! :+1:

[2016-02-12 10:02] maxbritto commented on #49
:+1: That is definitely something that would be useful. But it seems that google left that api untouched for some time now :(

[2016-02-13 14:23] dg76 opened #54 "Error "The current user has insufficient permissions to perform the requested operation""
Hi!

I have created an API user with all "Release Manager" rights except "Manage Production APKs". When I try to upload a **beta** apk I get the error

[code]

Why doesn't that work? "Manage Alpha & Beta APKs" is checked for the API user. Is it trying to access the production apk despite I tried to upload only a beta apk?

Thank you very much!

Kind regards

Dominique

[2016-02-15 15:10] gcstang opened #55 "Meta Data update sends all files instead of just updated one(s)"
This is really time consuming, can we send just one single metadata file update instead of all ?

[2016-02-18 11:15] jkosmetos commented on #26
I'm running into the same issue. Any update on this yet?

My CLI output is as follows:

[code]

[2016-02-18 12:18] fabiocarballo opened #56 "Error with supply init"
Hey,

I tried to use supply init and all the metadata was downloaded (icons, descriptions, etc..).

However, I had this error:

`/Users/fabiocarballo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/supply-0.3.1/lib/supply/client.rb:196:in `apk_listings': [!] Backend Error (RuntimeError)`

Is this preventing me from anything?

Thank you.

[2016-02-18 15:23] asfalcone commented on #56
Hi @fabiocarballo, it seems like there is some error being returned from the google api (but likely isn't auth related). Have you tried more than once and gotten the same error? `apk_listings` is called for each version code. How many version codes do you have for your app in Google Play? Do you see any output before this error?

I'm not sure you'll be able to do any of the uploading to Play Store

[2016-02-18 16:22] fbcbl commented on #56
Hello @asfalcone . Don't know what happened but I tried one more time just to make sure and it just worked.

Sorry for this issue opening.

Keep up with the good work. This is an awesome tool.

[2016-02-18 19:32] asfalcone commented on #56
@fabiocarballo No worries! Glad you're up and running now! And thank you for the kind words :smile:

[2016-02-18 19:32] #56 closed

[2016-02-18 19:36] asfalcone commented on #11
Going to close this issue as it has been open for more than 2 months without a reply. Happy to help if you're having an issue!

[2016-02-18 19:36] #11 closed

[2016-02-18 19:38] asfalcone commented on #18
Going to close this issue as it has been open for more than a month without a reply. Happy to help if you're having an issue!

[2016-02-18 19:38] #18 closed

[2016-02-18 19:44] asfalcone commented on #30
We updated to a newer version of the Google API client and the issue mentioned above has been closed on their side, so I'm going to close this issue. We're happy to help if you're still running into a problem!

[2016-02-18 19:44] #30 closed

[2016-02-18 21:36] asfalcone commented on #26
We've just released `supply` version [0.4.0](https://github.com/fastlane/supply/releases/tag/0.4.0) which now depends on an updated version of the Google API client. Could folks let me know if this is still an issue with the latest version? Thanks!

[2016-02-18 21:40] asfalcone commented on #31
This issue has been open for 2 months without a reply so I am going to close it for now. We've just released `supply` version [0.4.0](https://github.com/fastlane/supply/releases/tag/0.4.0) which now depends on an updated version of the Google API client and may make fewer requests to the API.

[2016-02-18 21:40] #31 closed

[2016-02-19 02:43] asfalcone commented on #54
@dg76 Hi, we just released a new version of `supply`[0.4.0](https://github.com/fastlane/supply/releases/tag/0.4.0) that uses a new version of the google api library. Could you update and try again? If you still run into this error can you paste the full command you're running as well as the all of the output? Thanks!

[2016-02-19 10:45] dg76 commented on #54
The problem still occurs. I have removed some sensitive data from the command but aside from that here it is:

[code]

[2016-02-20 12:22] lacostej commented on #54
@dg76 this is a bug on Google's side.

See https://wiki.jenkins-ci.org/display/JENKINS/Google+Play+Android+Publisher+Plugin#GooglePlayAndroidPublisherPlugin-Pleasenote

[2016-02-20 12:39] lacostej commented on #6
I think the method `track_version_codes` added to client as part of PR #52 will allow you to retrieve that information for a given package. You might want to follow that particular issue.

[2016-02-20 12:50] dg76 commented on #54
Thank you for this link! So Google has acknowledged that bug 18 months ago but did not fix it yet. :-(

[2016-02-20 12:50] #54 closed

[2016-02-20 12:59] lacostej commented on #54
We could improve the situation by adding some error_handling message in the case we are in production track

[2016-02-21 14:40] orthodoc opened #59 "supply crashed while uploading a new apk"
After updating to 0.4, supply crashed

Number: 3397b552472248388b3b01576a42100e

Used the json_key flag to upload the apk.

[2016-02-21 18:52] asfalcone commented on #59
Thank for reporting. Adding full stacktrack -

[code]

[2016-02-22 18:17] karlbecker opened #60 "Add Amazon App Store support"
Great to see this tool to support Google Play!

Another great improvement would be to supply the apk to the Amazon App Store.

Of course, the big problem: there seems to be no API for this.

Anyone have ideas or insight in to how this could be done?

[2016-02-23 00:47] kbyford opened #61 "Running 'supply init' results in an "[!] no implicit conversion of nil into String (TypeError)" error"
Please see bug report f45516e6666b1218be0e903912423611 .

OS X 10.11.3, ruby 2.2.1

[2016-02-23 02:47] KrauseFx commented on #61
Could you share the complete output when running `supply`?

[2016-02-23 02:53] asfalcone commented on #61
@kbyford have you specified the `path_to_key` param?

From the error report:

[code]

[2016-02-23 03:31] kbyford commented on #61
@asfalcone Thank you, I hadn't - I'm sorry about that.  It's working well now - thanks!

[2016-02-23 03:31] #61 closed

[2016-02-23 03:41] asfalcone commented on #61
Awesome! Glad you're all set. Happy coding 🚀
On Feb 22, 2016 10:31 PM, "kbyford" notifications@github.com wrote:

[2016-02-23 09:54] lacostej commented on #60
Not only apk but also metadata. Trying to get some partners to get this implemented.. Stay tuned :)

[2016-02-23 09:57] lacostej commented on #59
The google api client 0.9 handles timeouts and large files in a different way.

See https://github.com/google/google-api-ruby-client/issues/289

How big is your APK?

[2016-02-23 15:46] asfalcone commented on #60
I'd be happy to review a PR for this!

[2016-02-23 16:12] asfalcone commented on #49
Going to close this issue for now since there isn't a way to do this through the [google-api-ruby-client](https://github.com/google/google-api-ruby-client)

[2016-02-23 16:12] #49 closed

[2016-02-23 16:15] asfalcone commented on #4
@riyaz Were you able to find an answer to this question? The [google-api-ruby-client](https://github.com/google/google-api-ruby-client) doesn't seem to distinguish between experiements and regular listings.

[2016-02-23 18:51] #42 closed

[2016-02-24 00:38] peleteiro commented on #59
I found the same problem. My APK is about 40mb.

[2016-02-24 06:47] lacostej commented on #59
@peleteiro I'll enable debugging to see if this is there's more info.

We could try something like that: https://developers.google.com/api-client-library/ruby/guide/media_upload but it looks from the stack that it was already retrying.

Also note this issue: https://issues.jenkins-ci.org/browse/JENKINS-31204

[2016-02-24 12:15] jkammerer opened #64 "no implicit conversion of nil into String"
Got crash f89c9398ed1b132fcae54ae5ca9a32ba with supply 0.4.0
no implicit conversion of nil into String (TypeError)

[2016-02-24 14:24] dairan commented on #59
+1. app = 16 mb

[2016-02-24 14:47] asfalcone commented on #64
@jenskammerer have you specified the `json_key` param?

From the error report:

no implicit conversion of nil into String
supply/client.rb in expand_path at line 41

key = Google::APIClient::KeyUtils.load_from_pkcs12(File.expand_path(path_to_key), 'notasecret')
supply/client.rb in initialize at line 41

key = Google::APIClient::KeyUtils.load_from_pkcs12(File.expand_path(path_to_key), 'notasecret')

[2016-02-24 15:30] JensKammerer commented on #64
@asfalcone No, sorry I forgot that. Using json_key now and it works just fine. Thank you.

[2016-02-24 15:38] asfalcone commented on #64
:+1: Excellent, glad you're all set now! Happy coding!

[2016-02-24 15:38] #64 closed

[2016-02-24 15:54] jkammerer opened #65 "Google::Apis::TransmissionError: execution expired"
Received execution expired error while uploading screenshots.
Tried a few times. The error occurs after uploading ~20-30 screenshots. I see no changes in Play Developer Console for those successfully uploaded.
3739b415d031749427b1cee8192a5d6b

[2016-02-24 18:14] dairan commented on #65
Duplicated See #59

[2016-02-24 22:01] KrauseFx commented on #65
Thanks @dairan

[2016-02-24 22:01] #65 closed

[2016-02-25 00:21] kbyford opened #67 "Publishing both x86 and armv7 apk's of the same app version"
We push both x86 and armv7 architectures of our apps to Google Play.  When releasing a new version (say, 5.1.3) there are two builds (for example, 501030370 and 501030371) - one for armv7 and the other for x86.  App-wise these are identical but just for different architectures.

When trying supply today it worked well for one apk but attempting to upload the second resulted in the first apk being

[2016-02-25 06:53] JensKammerer commented on #59
I had the crash while uploading screenshots (approx 1 MB per screenshot, after about 20 files)

[2016-02-25 07:41] lacostej commented on #67
I searched in the androidpublisher_v2 API. For privately hosted APKs there's a `native_codes` parameter. I don't see it in the standard Apk representation. https://github.com/google/google-api-ruby-client/blob/master/generated/google/apis/androidpublisher_v2/service.rb#L645

Are you running supply once or twice to make your upload ? I understand twice, so maybe it's a case of uploading the 2 at th

[2016-02-26 19:53] joecdimas opened #69 "[No implicit conversion of nil into String] on supply init"
I was trying to use the gem and I got this error on `supply init`

[code]

[2016-02-26 19:57] asfalcone commented on #69
Hi @joecdimas Make sure that you've specified `json_key` on the CLI or your Appfile! Let me know if that helps 🎈

[2016-02-26 20:43] dairan commented on #59
it is ok now.

`[17:40:14]: Preparing apk at path 'app/build/outputs/apk/app-release.apk' for upload...
[17:40:21]: Updating track 'production'...
[17:40:22]: Uploading all changes to Google Play...
[17:40:45]: Successfully finished the upload to Google Play`

[2016-02-28 03:45] ikermart commented on #59
Still continue the same error for me. Stracktrace: 9dd8599c9d09d13c17eb30fa66a4c794
via Fastlane file like this:
lane :don do
    #gradle(task: "don")
    supply(
    apk: "/home/ikermart/Documents/androidProjects/4_apks/don_release.apk",
    track: "beta",
    metadata_path: "/home/Documents/androidProjects/4_apks/metadatas/don"
    )
  end

[2016-02-28 04:20] ikermart commented on #33
@asfalcone @pieisgood In my Android Studio I have 50 flavours.
When i do linux comand
- cd [your_project_folder]
- supply init
  I only creates/download the default app of metadata. Inside the "fastlane" folder. How can I configure "supply init" to download the metadata of the this 50 different flavors configured on an Android Studio project?
  Thank you!

[2016-02-28 11:55] avishayil commented on #59
Same here.
Stack trace:

[code]

[2016-02-28 15:11] josefdlange commented on #69
Wouldn't we not be giving that key as part of the _init_ process -- since that's the process that's supposed to lead us through getting it set up in the first place?

[2016-02-28 15:17] josefdlange commented on #69
Ah! I see! One must still `fastlane init` first. It's not entirely clear that the Android-realm tools are used in conjunction with `fastlane` and that they aren't just a parallel set of tools.

[2016-02-28 19:23] josefdlange commented on #59
FWIW, using the `supply` CLI to replicate the same parameters as in my `Fastfile`, this works fine. So perhaps there's some issue when it's working in context of the larger `fastlane` execution?

[2016-02-28 19:51] lacostej commented on #59
@josefdlange @avishayil @ikermart those errors are most probably transient communication errors. The fact that it appears to work if you try again, or in a different context (e.g. CLI) isn't a sign that the problem isn't there. We did some work on the Apple set of tools to reduce these issues, we will most probably have to do something similar here. In the mean time, the best solution is probably

[2016-02-28 19:53] josefdlange commented on #59
Does `fastlane` have a way to retry a given statement until successful...? Or am I stuck doing the retries manually?

[2016-02-29 02:51] asfalcone commented on #69
I just pushed out [0.5.0](https://github.com/fastlane/supply/releases/tag/0.5.0) which adds a better error message when you're missing auth credentials. 🚚

[2016-02-29 04:17] tobiasschuerg commented on #16
So it's not possible to use supply with windows?

[2016-02-29 11:56] lacostej commented on #59
@josefdlange not that I know of. But you can easily implement a generic retry mechanism:

[code]

![image](https://cloud.githubusercontent.com/assets/24282/13393758/b905d846-dee3-11e5-96a2-9e68ec30e56b.png)

**note**: the script was updated to fix the display of the counter.

[2016-02-29 21:45] asfalcone commented on #69
@joecdimas going to close this issue for now. Let me know if you're still running into issues!

[2016-02-29 21:45] #69 closed

[2016-03-01 00:42] tobiasschuerg opened #71 "[unsupportedListingLanguage] Provide better error messages"
The script should print the file or folder name, which causes the crash.

Since the script does not stick to any order, it's very hard to find out which "**language is not supported**". Right now I have to randomly delete a folder (one of twenty) and re-run the script since I don't know which folder is processed after *zh-CN*.

[code]

[2016-03-01 15:57] lacostej commented on #59
Attached is a simple patch to use retries and increased connection timeouts. I completely missed that. Taken from https://github.com/google/google-api-ruby-client/blob/ee962bab45e91774186fa339b9224b063e96de51/README.md#errors--retries

Test on my upload that failed on a slower connection.

[2016-03-01 19:20] lacostej commented on #32
I looked a bit at that. Maybe this is done here:

https://github.com/fastlane/supply/blob/0.5.0/lib/supply/uploader.rb#L94-L99

So if we were to add a new option for track, e.g. `draft`, then we would skip the update_track.

I can try that on our test project.

[2016-03-01 21:51] asfalcone commented on #71
@tobiasschuerg This should be fixed with supply [0.5.1](https://github.com/fastlane/supply/releases/tag/0.5.1) 👍

[2016-03-01 21:51] #71 closed

[2016-03-01 21:54] asfalcone commented on #59
This should be fixed with supply [0.5.1](https://github.com/fastlane/supply/releases/tag/0.5.1) 👍

If you still run into issues with the latest version please open a new issue with terminal output. Include `DEBUG=true` before your `supply` call so that we can see the full debugging output!

[2016-03-01 21:54] #59 closed

[2016-03-02 05:43] mingle2 opened #75 "Not downloading existing Screenshots"
"Due to the limit of the Google Play API `supply` can't download your existing screenshots..."

The error message is straightforward but I'm confused as I checked the request number in our Google API developers and it under < 5000 requests a day.  The Google Play Developer API has a default limit of 200,000 so we should not be getting this error when running Supply?

Full trace when running "suppl

[2016-03-02 07:50] KrauseFx commented on #75
There is just no public API to retrieve the existing screenshots, there is only one to upload new ones. There is not much we can do unfortunately.

[2016-03-02 07:50] #75 closed

[2016-03-02 15:21] antoinedc opened #76 "Execution expired error with supply 0.5.1"
Hi,

I'm getting the `execution expired (Google::Apis::TransmissionError)`.

As advised in #59, I've updated to 0.5.1 but I'm still getting the error.
It breaks both using the Fastfile or the CLI. APK size is about 15mo.

Sentry  id: `fa53dc83036953a9c085331cfd271898`

[2016-03-02 16:10] asfalcone commented on #76
@antoinedc Sorry, that must be super frustrating! 😩

Can you run `DEBUG=true supply ...` and paste the full output here? I'm unfortunately not able to find that issue in sentry!

[2016-03-02 16:19] antoinedc commented on #76
No problem at all!

Here is the full output:
Command:
`DEBUG=true SUPPLY_SKIP_UPLOAD_SCREENSHOTS=true SUPPLY_SKIP_UPLOAD_IMAGES=true SUPPLY_SKIP_UPLOAD_METADATA=true supply -p com.bannerman.BannermanClient -a beta -r 1.0 -j fastlane/key.json -b fastlane/bin/bannerman.apk`

Output

[code]

Thanks for your help!

[2016-03-02 16:54] asfalcone commented on #76
Awesome thanks for the debugging output! It looks like retry property that was added is working! But it seems like the timeout is still low.

The time between messages here is about 20 seconds instead of the 300 seconds timeout we configured:

[code]

It seems like the timeout from from `Hurley` and not the google api as we had expected. I'm going to dig in, but could also use some help from @laco

[2016-03-02 19:01] tobiasschuerg commented on #71
thanks

[2016-03-02 19:54] antoinedc commented on #76
Apparently Hurley has two timeout options: one for opening the connection (`open_timeout_sec`) and one for each chunk of the binary to send (`timeout_sec`), according to the doc here: https://github.com/lostisland/hurley/blob/master/lib/hurley/options.rb#L9

Google SDK seems to accept both (https://github.com/google/google-api-ruby-client/blob/master/lib/google/apis/core/base_service.rb#L297) so I

[2016-03-02 19:59] asfalcone commented on #76
Awesome! I was just seeing the same thing :+1:

I'm going to continue playing around with it locally but I agree that `open_timeout_sec` is probably the awesome here :boom:

[2016-03-02 20:22] #76 closed

[2016-03-02 20:24] asfalcone commented on #76
Just committed a proper fix for this! I'll do a release of `supply` shortly that will include this change! :guitar:

[2016-03-02 20:30] antoinedc commented on #76
Great! Thanks!

[2016-03-02 20:32] asfalcone commented on #76
[0.5.2](https://github.com/fastlane/supply/releases/tag/0.5.2) has been released! Please give that a whirl and thanks for your patience and help in debugging :tada:

[2016-03-03 09:52] krispypen commented on #75
ok, but still, this is a confusing errormessage, I was also trying to change the api limits...

[2016-03-03 14:36] dkornev opened #79 "There is no ''client_email" in Google Play Android Developer-*.json"
I follow all steps from the "Setup" section of readme.md and a the result I get a json with no "client_email" attribute. Is it right?

So I'm getting error from supply tool json parser.

Could you help me, please?

[2016-03-03 14:50] asfalcone commented on #79
Hi @dkornev that definitely shouldn't be happening. Can you confirm the name of your `.json` file as it was downloaded from the console, does it start with "Google Play Android Developer" or "client_secret"?

[2016-03-03 15:11] dkornev commented on #79
Hi @asfalcone ! It starts from "Google Play Android Developer". The instructions look simple and I'm almost sure that I'm doing everything as described... But anyway, is it wrong *.json file?

[2016-03-03 15:16] asfalcone commented on #79
I'm able to find 2 different `.json` files file the console. The "Google Play Android Developer" one does include the `client_email` expected by the google auth parser but the "client_secret" one does not.

One thing you can try is putting `client_email` field into the .json file. The value for this is the email address that can be found under Settings -> Api Access -> Service accounts and looks l

[2016-03-03 15:30] dkornev commented on #79
@asfalcone Could you please describe a json structure for me? I'll try to create one by myself.
My json file just contains a plain set of characters:
http://screencast.com/t/76Cy7MrPJx5
It doesn't even look like JSON )

[2016-03-03 15:37] asfalcone commented on #79
That seems very wrong! That looks like the private_key if I had to guess.

The json file provided by the google play developer console should have this format:
{
  "type": "service_account",
  "project_id": "",
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/

[2016-03-03 15:42] dkornev commented on #79
Ok, I got it. Will try more tomorrow.
Thank you very much, @asfalcone !

[2016-03-03 16:59] marcomorain commented on #55
:+1:

[2016-03-04 05:13] dkornev commented on #79
@asfalcone
I click on 'Create Service Account' button from API Access tab
http://screencast.com/t/O2fjmbPH2
then I create Service account key
http://screencast.com/t/XLJqCVmPn
I select JSON key type as on a picture below
http://screencast.com/t/KFLyvQ5jkb
and I get a json with no 'client_email' there
http://www.screencast.com/t/76Cy7MrPJx5

If I create OAuth client ID credentials
the result JSON l

[2016-03-04 13:55] adamstyrc opened #80 "Only update app (Beta) when versionCode is incremented"
Is there a way to prevent uploading apk to Google Play **Beta** if there already exists apk with the same versionCode ?

[2016-03-04 16:35] asfalcone commented on #79
@dkornev :weary: This is definitely not what I expect to be happening (and I see different behavior in the developer console)

2 more suggestions:
1) Create a brand new service account. When selecting the account here, http://screencast.com/t/KFLyvQ5jkb, the last option should be something like "Create new account" instead of selecting the existing one your have.
2) Use the deprecated `.p12` forma

[2016-03-04 18:57] vpolouchkine commented on #80
That is currently not possible.

[2016-03-06 19:01] athornz opened #81 "Dynamic apk path"
It looks like supply requires the apk path to always be passed as a argument. The apk path and naming is dynamic in my app (version code is in the name).

Can supply read this from gradle?

[2016-03-07 15:39] asfalcone commented on #81
hi @athornz currently `supply` can find an apk on disk with these [default values](https://github.com/fastlane/supply/blob/master/lib/supply/options.rb#L71) So if you run `supply` from the outputs directory it will pick up the most recently created one.

I'd also be happy to review a PR that made `supply` default to using the [GRADLE_APK_OUTPUT_PATH](https://github.com/fastlane/fastlane/blob/maste

[2016-03-07 20:54] #81 closed

[2016-03-07 20:54] #80 closed

[2016-03-07 20:55] #79 closed

[2016-03-07 20:55] #67 closed

[2016-03-07 20:55] #60 closed

[2016-03-07 20:55] #55 closed

[2016-03-07 20:55] #48 closed

[2016-03-07 20:56] #32 closed

[2016-03-07 20:56] #26 closed

[2016-03-07 20:56] #17 closed

[2016-03-07 20:56] #16 closed

[2016-03-07 20:57] #6 closed

[2016-03-07 20:57] #4 closed